/Task_B1/.vs/Task_B1/v16
/Task_B1/Debug
/Task_B1/Task_B1/Debug
/Task_B2/.vs/Task_B2/v16
/Task_B2/Debug
/Task_B2/Task_B2/Debug
/Task_B5/.vs/Task_B5/v16
/Task_B5/Debug
/Task_B5/Task_B5/Debug
/Task_B2/Task_B2/x64/Debug
